{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-use-before-define": "off",
    // "import/extensions": ["error", "ignorePackages", { "js": "never" }],
    // "import/prefer-default-export": "off",
    // "no-shadow": "off",
    "no-unused-vars": "off",
    "func-names": ["error", "as-needed"],
    "no-void": ["error", { "allowAsStatement": true }]
  }
}
